<article class="post">
    <div class="title">
        <span><h2>{{title}}</span></h2> <span style="float:right">Posted by {{user.username}} on {{format_date created_at}}</span><br>
    </div>
    <div class="meta">
        <p>{{post_text}}</p>
    </div>
</article>