<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a class="nav"href="/">The Tech Blog</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <li>
                    <a class="nav" href="/">Home</a>
                </li>
                <li>
                    <a class="nav" href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <button id="logout" class="btn-no-style">Logout</button>
                </li>
                {{else}}
                <a class="login" href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>